<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <!-- Se muestra al clickear en Users en el navbar -->
    <title>Home - Shopme Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

    <div class="container-fluid">

        <!-- Navbar -->
        <aside>
            <div th:replace="common/navbar :: navbar"></div>
        </aside>

        <div>
            <h2>Manage Users</h2>
            <!-- Para crear un nuevo usuario, llama a UserController.newUser(Model model) -->
            <a th:href="@{/users/new}">Create New User</a>
        </div>

        <div class="alert alert-success text-center" th:if="${message != null}">
            <div th:text="${message}"></div>
        </div>

        <div>
            <table class="table table-bordered table-striped table-hover table-responsive-xl">
                <thead class="thead-dark">
                    <tr>
                        <th>User ID</th>
                        <th>Photos</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Roles</th>
                        <th>Enabled</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <!-- La variable users viene de UserController.listAll(Model model) -->
                    <tr th:each="user : ${users}">

                        <td th:text="${user.id}" class="text-center"></td>
                        <td>
                            <!-- Se agrega para desplegar la imagen con el nuevo getter de la clase User -->
                            <spanv th:if="${user.photos == null}" class="fas fa-portrait fa-2x icon-silver"></spanv>
                            <img th:if="${user.photos != null}" th:src="@{${user.photoImagePath}}" style="width: 100px">
                        </td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.roles}"></td>
                        
                        <td>
                            <!-- th:text="${user.enabled}" -->
                            <!-- Se anade logica para cambiar el color -->
                            <a th:if="${user.enabled == true}" class="fas fa-check-circle fa-2x icon-green" 
                                    th:href="@{'/users/' + ${user.id} + '/enabled/false'}" title="Disable this user"></a>
                            <a th:if="${user.enabled == false}" class="fas fa-circle fa-2x icon-dark" 
                                    th:href="@{'/users/' + ${user.id} + '/enabled/true'}" title="Enable this user"></a>
                        
                        </td>

                        <!-- Iconos y logica para editar y eliminar -->
                        <td>
                            <!-- Llamada al metodo get de UserController.editUser(...) -->
                            <a class="fas fa-edit fa-2x icon-green" th:href="@{'/users/edit/' + ${user.id}}" title="Edit this user"></a>
                                &nbsp;
                            <!-- Llamada al metodo get de UserController.deleteUser(...) -->
                            <a class="fas fa-trash fa-2x icon-dark link-delete" th:href="@{'/users/delete/' + ${user.id}}" 
                                th:userId="${user.id}" title="Delete this user"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal para mensaje de confirmacion al eliminar -->
        <div class="modal fade text-center" id="confirmModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Confirmation</h4>
                        <button class="close" type="button" data-dismiss="modal">&times;</button> 
                    </div>

                    <div class="modal-body">
                        <span id="confirmText"></span>
                    </div>

                    <div class="modal-footer">
                        <a class="btn btn-success" href="" id="yesButton">Yes</a>
                        <button class="btn btn-danger" type="button" data-dismiss="modal">No</button> 
                    </div>

                </div>
            </div>
        </div>

        <!-- Footer -->
        <aside>
            <div th:replace="common/footer :: footer"></div>
        </aside>

    </div>

    <script type="text/javascript">

        // JQuery para eliminar el usuario
        $(document).ready(function(){
            $(".link-delete").on("click", function(e) {
                e.preventDefault();
                // alert($(this).attr("href"));
                var link = $(this);
                var userId =  link.attr("userId");
                $("#yesButton").attr("href", link.attr("href"));
                $("#confirmText").text("Are you sure you want to delete this user ID " + userId);
                $("#confirmModal").modal();
            });
        });
    </script>

</body>
</html>