<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Home - Shopme Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

    <!-- Navbar -->
    <aside>
        <div th:replace="common/navbar :: navbar"></div>
    </aside>

    <div class="container-fluid">
        <div>
            <h2>Manage Users</h2>
            <a th:href="@{/users/new}">Create New User</a>
        </div>

        <div>
            <table class="table table-bordered table-striped table-hover table-responsive-xl">
                <thead class="thead-dark">
                    <tr>
                        <th>User ID</th>
                        <th>Photos</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Roles</th>
                        <th>Enabled</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="user : ${users}">

                        <td th:text="${user.id}"></td>
                        <td></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.roles}"></td>
                        <td th:text="${user.enabled}"></td>
                        <td>
                            Edit &nbsp; Delete
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <footer>
            <p>Shopme Control Panel - Copiright &copy; Shopme</p>
        </footer>
    </div>

</body>
</html>