<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head('Categories - Shopme Admin')" />
<body>
<div class="container-fluid">

    <!-- Navbar -->
    <div th:replace="common/navbar :: navbar"></div>

    <div>
        <h2>Manage Categories</h2>
        <!-- Para crear una nueva categoria, llama a CategoryController -->
        <a th:href="@{/categories/new}" class="fas fa-user-plus fa-2x icon-dark mr-2"></a>

        <!-- Para exportar a CSV -->
        <a th:href="@{/categories/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
    </div>

    <div class="alert alert-success text-center" th:if="${message != null}">
        <div th:text="${message}"></div>
    </div>

    <!-- Buscador -->
    <div>
        <form class="form-inline m-3" th:action="@{/categories/page/1}">
            Filter:&nbsp;
            <!-- keyword viene del controlador -->
            <input class="form-control m-3" type="search" name="keyword" th:value="${keyword}" required />
            &nbsp;&nbsp;

            <button class="btn btn-primary" type="submit">
                <i class="fas fa-search"></i>
            </button>

            &nbsp;&nbsp;
            <button class="btn btn-secondary" type="button" onclick="clearFilter()">
                <i class="fas fa-eraser"></i>
            </button>
        </form>
    </div>

    <!-- Responsive en M-L -->
    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Category Image</th>
                <th>Category Name</th>
                <th>Alias</th>
                <th>Enabled</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="cat : ${listCategories}">
                <td>[[{$cat.id}]]</td>
                <td></td>
                <td>[[{$cat.name}]]</td>
                <td>[[{$cat.alias}]]</td>
                <td>
                    <div th:replace="fragments :: category_status" />
                </td>
                <td>
                    <div th:replace="fragments :: category_actions" />
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Footer -->
    <div th:replace="common/footer :: footer"></div>

</div>

<script type="text/javascript">
        // JQuery para eliminar el usuario
        $(document).ready(function () {
            $(".link-delete").on("click", function (e) {
                e.preventDefault();
                // alert($(this).attr("href"));
                var link = $(this);
                var userId = link.attr("userId");
                $("#yesButton").attr("href", link.attr("href"));
                $("#confirmText").text(
                    "Are you sure you want to delete this user ID " + userId
                );
                $("#confirmModal").modal();
            });
        });

        function clearFilter() {
            window.location = "[[@{/users}]]"
        }
    </script>
</body>

</html>