<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head(${pageTitle})" />
<body>
    <div class="container-fluid">

        <div th:replace="common/navbar :: navbar"></div>

        <div>
            <!-- Se parametriza: Viene de CategoryController.newCategory() -->
            <h2>Manage Categories | [[${pageTitle}]]</h2>
        </div>

        <form th:action="@{/categories/save}" method="post" style="max-width: 700px; margin: 0 auto" th:object="${category}"
            enctype="multipart/form-data">

            <!-- Esconde el ID porque no es necesario modificarlo en este form -->
            <input type="hidden" th:field="*{id}" />

            <!-- Borde redondeado en el formulario -->
            <div class="border border-secondary rounded p-3">

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Category Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{name}" required minlength="3"
                            maxlength="128" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Alias:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{alias}" required minlength="2"
                            maxlength="64" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Parent Category:</label>
                    <div class="col-sm-8">
                        <select>

                        </select>
                    </div>
                </div>

                <!-- Si se selecciona este chechbox, se setea user.setEnabled(true) en el backend -->
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Enabled:</label>
                    <div class="col-sm-8">
                        <input type="checkbox" th:field="*{enabled}">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Image:</label>
                    <div class="col-sm-8">
                        <input type="hidden" th:field="*{image}" />
                        <!-- Agregar el noombre image para procesarlo en el backend -->
                        <input class="mb-2" type="file" id="fileImage" name="image" accept="image/png, image/jpeg" />
                        <img class="img-fluid" id="thumbnail" alt="Image preview"/>
                    </div>
                </div>

                <!-- Botones para Guardar o cancelar el formulario -->
                <div class="text-center">
                    <input class="btn btn-primary m-3" type="submit" value="Save" />
                    <!-- El boton de cancelar llama a una funcion de JQuery -->
                    <input id="buttonCancel" class="btn btn-secondary" type="button" value="Cancel" />
                </div>

            </div>

        </form>
        <!-- Este es el modal que le indica al usuario que el email ya existe -->
        <div class="modal fade text-center" id="modalDialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title" id="modalTitle">Warning</h4>
                        <button class="close" type="button" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <span id="modalBody"></span>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- Footer -->
        <div th:replace="common/footer :: footer"></div>

    </div>

    <script type="text/javascript">
        // Para utilzar la function de common_form
        moduleURL = "[[@{/categories}]]";

    </script>
    <script th:src="@{/js/common_form.js}"></script>
</body>


</html>